.about-container {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(to bottom left, black, rgb(80, 80, 80));
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
	font-family: 'Bad Script';
}
.intro-container {
	display: flex;
	/*justify-content: center;*/
	align-items: flex-end;
	/*margin: 20px 15% 50px 0;*/
}
.intro-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.profile-pic {
	max-width: 26%;
	border-radius: 30%;
	background-size: contain;
}
.intro-paragraph {
	font-size: 30px;
}
.grid-container {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: 200px;
	margin: 50px;
}
.grid-item {
	border: 2px solid lightgray;
}
.grid1 {
	border: 0;
	border-bottom: 2px solid lightgray;
}
.grid2 {
	border-right: 0;
	border-left: 0;
}
.grid3 {
	border: 0;
	border-top: 2px solid lightgray;
}
.bullet-container {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-item {
	transition-property: transform, opacity;
	transition: all 400ms ease;
	opacity: .8;
}
.nav-item:hover {
	transform: scale(1.2);
	opacity: 1;
	cursor: pointer;
}
.bullet {
	width: 50%;
	height: 50%;
	border-radius: 100%;
	border: 1px solid white;
	background-color: rgb(80, 80, 80);
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner-bullet {
	width: 40%;
	height: 40%;
	background-color: rgb(80, 80, 80);
	border-radius: 100%;
	border: 5px solid white;
}
@keyframes expand {
	to {
		transform: scale(1.2);
		opacity: 1;
	}
}
@keyframes condense {
	from {
		transform: scale(1.5);
		opacity: 1;
	}
	to {
		transform: scale3d(1);
		opacity: .5;
	}
}
.name {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100%;
	color: white;
	font-size: 34px;
}
.nav-item {
	height: 33%;
	width: 200px;
	display: flex;
}
.nav1 {
	margin-left: 200px;
}
.nav2 {
	margin-left: 125px;
}
.nav3 {
	margin-left: 50px;
}