.contact-container {
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-family: "Tommorrow";
}
.contact-header {
	display: flex;
	justify-content: flex-start;
	height: 10vh;
	width: 100%;
	margin-bottom: 10%;
}
.home-icon {
	height: 50px;
	width: 50px;
	margin: 20px;
}
.header-name {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: 30px;
	margin-left: 30px;
}
.contact-grid {
	display: grid;
	grid-template-rows: 250px;
	grid-template-columns: 250px 250px 250px;
	grid-column-gap: 50px;
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: black;
	border-radius: 100%;
	color: white;
	font-size: 20px;
	text-decoration: none;
}
.method {
	letter-spacing: 2px;
	margin-bottom: 10px;
}
hr {
	background-color: white;
	width: 70%;
}