.projects-container {
	height: 100vh;
	width: 100vw;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.green-box {
	width: 50px;
	height: 100px;
	background-color: rgba(0, 210, 0, .5);
	/*animation-name: flash;*/
	animation-duration: .8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes flash {
	from {background-color: rgba(0, 210, 0, .5);}
	to {background-color: black}
}

.text {
	color: white;
	font-size: 50px;
}